*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Noto Serif TC", serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0px;
    color: $gray-900;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}