.side {
    &-link {
        display: block;
        padding: 12px 24px;
        gap: 4px;
        text-decoration: none;
        color: $secondary-700;
        font-weight: 700;
        &:hover {
            color: $primary-700;
        }
        &.active {
            color: $primary-700;
        }
    }
}